html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  padding: 2vw;
}

header {
  background-color: #2e5e2e;
  color: white;
  padding: 1vh 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.app-title {
  font-size: 3vw;
  font-weight: bold;
}

.app-title > a {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
}

nav a {
  background-color: lightgray;
  color: #2e5e2e;
  padding: 1vh 2vw;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
}

nav a:hover {
  background-color: #c5c5c5;
}

@media (max-width: 600px) {
  .app-title {
    font-size: 5vw;
  }

  nav a {
    font-size: 3.5vw;
    padding: 1vh 3vw;
  }
}
